@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem
}


body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('images/triangle.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header {
    padding: 1rem;
    background-color: grey;
    color: #fff;
}

header h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: initial;
}

button {

    display: block;
    cursor: pointer;
    margin: auto;
    background-color: grey;
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-family: inherit;
    font-size: large;

}

.input-label {
    font-size: larger;
    color: var(--primary-color);
    width: 256px;
}

.input-label p {
    font-size: larger;
    margin: 0.5rem;
}

.input-text {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}

.quiz-main {
    margin: 2rem auto;
    width: 90%;
    text-align: center;
}

.question-container {
    width: 85%;
    margin: 1rem auto;
    font-size: x-large;
    padding: 1rem 0;
}

.question-container p {
    margin: 1rem 0;
}

main {
    margin: 0 0 7rem;
}

main h1 {
    margin: 1rem;
}

.output {
    font-size: x-large;
    margin: 1rem;
}

.active {
    color: blue;
}

nav {

    text-align: right;
}

nav>a {
    color: white;
    padding: 0 0.5rem;
}

footer p {
    color: #fff;
    font-size: x-large;
    text-align: center;
}

.footer-list {
    margin: 1rem;
}

a,
img,
li {
    display: inline;
}

img {
    width: 110px;
    padding: 0.4rem;
}